:root {
  --fc-small-font-size: 12px;
  --fc-page-bg-color: transparent;
  --fc-neutral-bg-color: rgb(208 208 208 / 30%);
  --fc-neutral-text-color: #808080;
  --fc-border-color: var(--color-gray-200);
  --fc-button-text-color: inherit;
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: transparent;
  --fc-button-hover-border-color: transparent;
  --fc-button-active-bg-color: transparent;
  --fc-button-active-border-color: transparent;
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: transparent;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgb(0 0 0 / 25%);
  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;
  --fc-non-business-color: rgb(215 215 215 / 30%);
  --fc-bg-event-color: rgb(143 223 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgb(188 232 241 / 30%);
  --fc-today-bg-color: var(--color-slate-100);
  --fc-now-indicator-color: red;

  &.dark {
    --fc-border-color: var(--color-zinc-800);
    --fc-today-bg-color: var(--color-zinc-800);
  }
}

.calendar {
  .fc {
    .fc-toolbar-title {
      font-size: 14px;
      font-weight: 600;
      opacity: 0.8;
    }

    .fc-button {
      padding: 0;
      font-size: 12px;
      outline: 0;

      @media (min-width: 640px) {
        font-size: 14px;
      }
    }

    .fc-toolbar-chunk {
      display: flex;
    }

    .fc-toolbar {
      &.fc-header-toolbar {
        margin-bottom: 20px;
      }
    }

    .fc-col-header-cell-cushion {
      font-size: 12px;
    }

    .fc-daygrid-day-top {
      font-size: 11px;
    }

    .fc-daygrid-more-link {
      font-size: 11px;
    }

    .fc-daygrid-block-event {
      .fc-event-time,
      .fc-event-title {
        padding: 0;
      }
    }

    .fc-day-sun {
      .fc-col-header-cell-cushion {
        color: var(--color-red-500);
      }
    }

    .fc-day-sat {
      .fc-col-header-cell-cushion {
        color: var(--color-blue-500);
      }
    }

    .fc-popover {
      visibility: hidden;
    }

    .fc-button-group {
      gap: 4px;
    }
  }
}

.page {
  .fc {
    width: 100%;

    .fc-toolbar-title {
      font-size: 20px;
      font-weight: 400;
    }

    .fc-daygrid-body-unbalanced {
      .fc-daygrid-day-events {
        min-height: 1em;
      }
    }
  }
}
