.embla {
  position: relative;

  .embla-viewport {
    overflow: hidden;

    .embla-container {
      display: flex;
      touch-action: pan-y pinch-zoom;

      .embla-slide {
        flex: 0 0 100%;
        min-width: 0;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .embla-controls {
    position: relative;
    bottom: 0;
    width: 100%;
    pointer-events: none;

    .embla-dots {
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      flex-wrap: wrap;
      gap: 3px;
      justify-content: center;

      .embla-dot {
        position: relative;
        width: 5px;
        height: 5px;
        padding: 0;
        margin: 0;
        text-decoration: none;
        appearance: none;
        pointer-events: all;
        touch-action: manipulation;
        cursor: pointer;
        background: #aeaeae;
        border: 0;
        border-radius: 9999px;
        opacity: 0.4;
        transition: width ease 200ms;

        &.embla-dot-selected {
          width: 20px;
          background: #8d959d;
          opacity: 1;

          &::after {
            display: none;
          }
        }

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          content: '';
          transform: translate(-50%, -50%);
        }
      }
    }

    .embla-selected-snap-display {
      position: absolute;
      right: 1.5rem;
      bottom: 0.8rem;
      padding: 0.4rem 0.6rem;
      color: white;
      background: rgb(51 51 51 / 50%);
      border-radius: 9999px;

      &:empty {
        display: none;
      }
    }
  }
}
