:root {
  --fc-small-font-size: 12px;
  --fc-page-bg-color: transparent;
  --fc-neutral-bg-color: rgb(208 208 208 / 30%);
  --fc-neutral-text-color: #808080;
  --fc-border-color: var(--color-gray-200);
  --fc-button-text-color: inherit;
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: transparent;
  --fc-button-hover-border-color: transparent;
  --fc-button-active-bg-color: transparent;
  --fc-button-active-border-color: transparent;
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: transparent;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgb(0 0 0 / 25%);
  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;
  --fc-non-business-color: rgb(215 215 215 / 30%);
  --fc-bg-event-color: rgb(143 223 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgb(188 232 241 / 30%);
  --fc-today-bg-color: var(--color-slate-100);
  --fc-now-indicator-color: red;

  &.dark {
    --fc-border-color: var(--color-zinc-800);
    --fc-today-bg-color: var(--color-zinc-800);
  }
}

.date-picker {
  .fc {
    padding: 0 6px;

    .fc-toolbar-title {
      font-size: 15px;
      font-weight: 700;
    }

    .fc-button {
      padding: 0;
      font-size: 13px;
      outline: 0;
    }

    .fc-toolbar {
      &.fc-header-toolbar {
        margin-bottom: 8px;
      }
    }

    .fc-col-header-cell-cushion {
      font-size: 12px;
    }

    .fc-daygrid-day-top {
      justify-content: center;
      font-size: 12px;
    }

    .fc-popover {
      visibility: hidden;
    }

    .fc-button-group {
      gap: 4px;
    }
  }

  .fc-daygrid-body-natural {
    .fc-daygrid-day-events {
      display: none;
    }
  }

  .fc-select-button {
    padding: 0 4px !important;
    font-size: 12px !important;
    color: white;
    background: var(--color-indigo-500);
    border-radius: 99px !important;

    &:hover {
      color: white;
      background: var(--color-indigo-500);
    }

    &:active {
      color: white !important;
      background: var(--color-indigo-500) !important;
    }
  }
}

.time {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}
