@use 'tailwindcss';
@use './calendar';
@use './datepicker';
@use './carousel';

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@custom-variant dark (&:where(.dark *));

@layer utilities {
  * > * {
    color: inherit;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-600;

  border-radius: 100px;
}

.tag {
  color: var(--tag-color);
  border-color: var(--tag-color);
}

.dark {
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
}

.recharts-surface {
  outline: 0;
}

.search {
  .close {
    visibility: hidden;
  }

  &:has(:required:valid) {
    .close {
      visibility: visible;
    }
  }
}

/* stylelint-disable-next-line selector-max-type */
button {
  cursor: pointer;
}

.fade-enter {
  opacity: 0;

  .modal-card {
    transform: translateY(10px);
  }

  .bottom-sheet-card {
    transform: translateY(100%);

    @media (min-width: 640px) {
      transform: translateY(10px);
    }
  }
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 240ms ease;

  .modal-card {
    transform: translateY(0);
    transition: transform 240ms ease;
  }

  .bottom-sheet-card {
    transform: translateY(0);
    transition: transform 240ms ease;
  }
}

.fade-exit {
  opacity: 1;

  .modal-card {
    transform: translateY(0);
  }

  .bottom-sheet-card {
    transform: translateY(0);
  }
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 240ms ease;

  .modal-card {
    transform: translateY(10px);
    transition: transform 240ms ease;
  }

  .bottom-sheet-card {
    transform: translateY(100%);
    transition: transform 240ms ease;

    @media (min-width: 640px) {
      transform: translateY(10px);
    }
  }
}

.scroll-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

.spinner {
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.line-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
