@use 'tailwindcss';
@use './calendar';
@use './datepicker';
@use './carousel';

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@custom-variant dark (&:where(.dark *));

@layer utilities {
  * > * {
    color: inherit;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-600;

  border-radius: 100px;
}

.tag {
  color: var(--tag-color);
  border-color: var(--tag-color);
}

.dark {
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
}

.recharts-surface {
  outline: 0;
}

.search {
  .close {
    visibility: hidden;
  }

  &:has(:required:valid) {
    .close {
      visibility: visible;
    }
  }
}

/* stylelint-disable-next-line selector-max-type */
button {
  cursor: pointer;
}

.fade-enter {
  opacity: 0;

  .modal-card {
    transform: translateY(10px);
  }

  .bottom-sheet-card {
    transform: translateY(100%);

    @media (min-width: 640px) {
      transform: translateY(10px);
    }
  }

  .aside-sheet {
    transform: translateX(100%);
  }
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 240ms ease;

  .modal-card {
    transform: translateY(0);
    transition: transform 240ms ease;
  }

  .bottom-sheet-card {
    transform: translateY(0);
    transition: transform 240ms ease;
  }

  .aside-sheet {
    transform: translateX(0);
  }
}

.fade-exit {
  opacity: 1;

  .modal-card {
    transform: translateY(0);
  }

  .bottom-sheet-card {
    transform: translateY(0);
  }

  .aside-sheet {
    transform: translateX(0);
  }
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 240ms ease;

  .modal-card {
    transform: translateY(10px);
    transition: transform 240ms ease;
  }

  .bottom-sheet-card {
    transform: translateY(100%);
    transition: transform 240ms ease;

    @media (min-width: 640px) {
      transform: translateY(10px);
    }
  }

  .aside-sheet {
    transform: translateX(100%);
    transition: transform 240ms ease;
  }
}

.scroll-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

.spinner {
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.line-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.emboss-sheet {
  position: relative;
  padding: 6px;
  border: 2px solid;
  border-color: transparent white white transparent;
  border-radius: 12px;
  box-shadow: inset 2px 2px 0 rgb(0 0 0 / 5%);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    pointer-events: none;
    content: '';
    border: 2px solid;
    border-color: white transparent transparent white;
    border-radius: 8px;
    box-shadow:
      2px 2px 0 rgb(0 0 0 / 10%),
      -2px -2px 0 rgb(0 0 0 / 5%);
    transform: translate(-50%, -50%);
  }
}

.neu-button {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 100%;
  color: var(--color-gray-500);
  letter-spacing: -0.02em;
  border-radius: 999px;
  box-shadow:
    inset 2px 2px 2px rgb(0 0 0 / 10%),
    inset -2px -2px 2px rgb(255 255 255 / 100%),
    2px 2px 4px rgb(0 0 0 / 10%),
    -2px -2px 2px rgb(255 255 255 / 100%);

  &.active {
    color: var(--color-indigo-600);
    background: var(--color-indigo-100);
    box-shadow:
      inset 2px 2px 4px rgb(0 0 0 / 10%),
      inset -2px -2px 2px rgb(255 255 255 / 100%),
      2px 2px 4px rgb(0 0 0 / 10%),
      -2px -2px 2px rgb(255 255 255 / 100%),
      0 0 14px -2px var(--color-indigo-300);
  }
}

.expand-hitbox {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 140%;
    min-width: 36px;
    height: 140%;
    min-height: 36px;
    content: '';
    transform: translate(-50%, -50%);
  }
}
