@use 'tailwindcss';
@use './calendar';
@use './datepicker';
@use './carousel';
@plugin "@tailwindcss/typography";

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@custom-variant dark (&:where(.dark *));

@layer utilities {
  * > * {
    color: inherit;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-600;

  border-radius: 100px;
}

.tag {
  color: var(--tag-color);
  border-color: var(--tag-color);
}

.recharts-surface {
  outline: 0;
}

.search {
  .close {
    visibility: hidden;
  }

  &:has(:required:valid) {
    .close {
      visibility: visible;
    }
  }
}

/* stylelint-disable-next-line selector-max-type */
button {
  cursor: pointer;
}

.fade-enter {
  opacity: 0;

  .modal-card {
    transform: translateY(10px);
  }

  .bottom-sheet-card {
    transform: translateY(100%);

    @media (min-width: 640px) {
      transform: translateY(10px);
    }
  }

  .aside-sheet {
    transform: translateX(100%);
  }
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 240ms ease;

  .modal-card {
    transform: translateY(0);
    transition: transform 240ms ease;
  }

  .bottom-sheet-card {
    transform: translateY(0);
    transition: transform 240ms ease;
  }

  .aside-sheet {
    transform: translateX(0);
  }
}

.fade-exit {
  opacity: 1;

  .modal-card {
    transform: translateY(0);
  }

  .bottom-sheet-card {
    transform: translateY(0);
  }

  .aside-sheet {
    transform: translateX(0);
  }
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 240ms ease;

  .modal-card {
    transform: translateY(10px);
    transition: transform 240ms ease;
  }

  .bottom-sheet-card {
    transform: translateY(100%);
    transition: transform 240ms ease;

    @media (min-width: 640px) {
      transform: translateY(10px);
    }
  }

  .aside-sheet {
    transform: translateX(100%);
    transition: transform 240ms ease;
  }
}

.scroll-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

.spinner {
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.line-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.emboss-sheet {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 3%);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    pointer-events: none;
    content: '';
    border-radius: 8px;
    box-shadow:
      1px 1px 0 rgb(0 0 0 / 3%),
      inset -1px -1px 0 rgb(0 0 0 / 10%),
      inset 2px 2px 0 white;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    pointer-events: none;
    content: '';
    border-radius: 8px;
    box-shadow: 1px 1px 4% rgb(0 0 0 / 3%);
    transform: translate(-50%, -50%);
  }
}

.neu-button {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 100%;
  color: var(--color-gray-500);
  letter-spacing: -0.02em;
  border-radius: 999px;
  box-shadow:
    inset 2px 2px 2px rgb(0 0 0 / 10%),
    inset -2px -2px 2px rgb(255 255 255 / 100%),
    2px 2px 4px rgb(0 0 0 / 10%),
    -2px -2px 2px rgb(255 255 255 / 100%);

  &.active {
    color: var(--color-indigo-600);
    background: var(--color-indigo-100);
    box-shadow:
      inset 2px 2px 4px rgb(0 0 0 / 10%),
      inset -2px -2px 2px rgb(255 255 255 / 100%),
      2px 2px 4px rgb(0 0 0 / 10%),
      -2px -2px 2px rgb(255 255 255 / 100%),
      0 0 14px -2px var(--color-indigo-300);
  }
}

.expand-hitbox {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 140%;
    min-width: 36px;
    height: 140%;
    min-height: 36px;
    content: '';
    transform: translate(-50%, -50%);
  }
}

.back::view-transition-old(root) {
  @media (max-width: 640px) {
    z-index: 1;
    animation: slide-to-right 250ms ease both;
  }
}

.back::view-transition-new(root) {
  @media (max-width: 640px) {
    animation: slide-from-left 250ms ease both;
  }
}

.forward::view-transition-old(root) {
  @media (max-width: 640px) {
    animation: slide-to-left 250ms ease both;
  }
}

.forward::view-transition-new(root) {
  @media (max-width: 640px) {
    z-index: 1;
    animation: slide-from-right 250ms ease both;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: none;
  }
}

@keyframes slide-from-left {
  from {
    filter: brightness(0.85);
    transform: translateX(-15%);
  }

  to {
    transform: none;
  }
}

@keyframes slide-to-right {
  from {
    transform: none;
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slide-to-left {
  from {
    transform: none;
  }

  to {
    filter: brightness(0.85);
    transform: translateX(-15%);
  }
}

.dark {
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }

  .emboss-sheet {
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 20%);

    &::before {
      box-shadow:
        1px 1px 0 rgb(0 0 0 / 20%),
        inset -1px -1px 0 rgb(0 0 0 / 20%),
        inset 2px 2px 0 var(--color-zinc-800);
    }

    &::after {
      box-shadow: 1px 1px 4% rgb(0 0 0 / 20%);
    }
  }

  .neu-button {
    color: var(--color-gray-200);
    box-shadow:
      inset 2px 2px 2px rgb(0 0 0 / 50%),
      inset -2px -2px 2px var(--color-zinc-800),
      2px 2px 4px rgb(0 0 0 / 50%),
      -2px -2px 2px var(--color-zinc-800);

    &.active {
      color: var(--color-indigo-200);
      background: var(--color-zinc-700);
      box-shadow:
        inset 2px 2px 4px rgb(0 0 0 / 50%),
        inset -2px -2px 2px var(--color-zinc-600),
        2px 2px 4px rgb(0 0 0 / 50%),
        -2px -2px 2px var(--color-zinc-600),
        0 0 14px -2px var(--color-indigo-300);
    }
  }
}

.aside-item {
  .hover-item {
    display: none;
  }
  &:hover {
    .hover-item {
      display: block;
    }
  }
}

.tutorial-dim {
  box-shadow: 0 0 0 100vmax rgb(0 0 0 / 50%);
  &::after {
    content: '';
    display: block;
    position: fixed;
    z-index: 1;
    // inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
