@use 'tailwindcss';
@use '@/assets/styles/calendar';
@use '@/assets/styles/datepicker';

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@custom-variant dark (&:where(.dark *));

@layer utilities {
  * > * {
    color: inherit;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-600;

  border-radius: 100px;
}

.tag {
  color: var(--tag-color);
  border-color: var(--tag-color);
}

.dark {
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
}

.recharts-surface {
  outline: 0;
}

.search {
  .close {
    visibility: hidden;
  }

  &:has(:required:valid) {
    .close {
      visibility: visible;
    }
  }
}

/* stylelint-disable-next-line selector-max-type */
button {
  cursor: pointer;
}
